.navBG {
  background-color: rgb(247, 220, 111);
}
.navText {
  color: rgb(52, 73, 94);
}
.ftr {
  position: fixed;
  /* left: 0; */
  /* bottom: 0; */
  /* width: 100%; */

  /* text-align: center; */
}
